<%- layout('layouts/boilerplate.ejs') %>
    <div class="container">
        <div class="row">
            <div class="card mx-auto mt-5" style="width: 30rem;">
                <img src="/assets/restoLogo.png" class="card-img-top" alt="..." style="height: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">Create admin user</h5>
                    <!-- ----register form---- -->
                    <form method="POST" class="needs-validation" action="/user/register/admin" novalidate>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="admin_name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid email.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="admin_password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a password.
                            </div>
                        </div>
                        <!-- default covers -->
                        <div>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a message in the textarea.
                            </div>
                        </div>
                </div>
                <!-- account_type -->
                <div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01"></label>
                        <select class="form-select" id="inputGroupSelect01" name="admin_account_type" required>
                            <option value="admin">Admin</option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a message in the textarea.
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
    </div>