<%- layout('layouts/boilerplate.ejs') %>
    <div class="container">
        <div class="row">
            <div class="card mx-auto mt-5" style="width: 30rem;">
                <img src="/assets/restoLogo.png" class="card-img-top" alt="..." style="height: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">Log In</h5>
                    <!-- ----login form---- -->
                    <form method="POST" action="/user/login">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="login_name">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="login_password">
                        </div>
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>